@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,600');

html {
	font-size: 18px;
	height: 100%;
}

body{
	color: $text_greybrown;
	-webkit-text-size-adjust: none;
	font-size-adjust: none;
	-webkit-font-smoothing: antialiased;
  background-color: #FCF8F6;
	min-height: 100%;
	height: auto !important;
	position: relative;
	font-family: 'Lato', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  @include rem(font-size, 18px);
}

* {
  @include box-sizing(border-box);
}

a {
	text-decoration: none;
	color: $multi_blue;
	@include transition($transition);

	&:hover, &:focus {text-decoration: none; color: darken($multi_blue, 15%);}

}

a, input, button {
	&:focus {outline: none !important}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
  font-family: $ff;
  color: inherit;
}

h1, .h1 {
  font-weight: bold;
  line-height: 1.4;

  @include rem(font-size, 30px);
  @include rem(margin-bottom, 20px);
}

h2, .h2 {
  color: #68504e;

  @include rem(font-size, 42px);
	@include rem(margin-bottom, 25px);
}

h3 {
  color: #5f4745;
  font-weight: bold;

  @include rem(margin-bottom, 25px);
}

.container {
	max-width: 100%;

  @include rem(width, 1020px + 60px);
}

.marginauto { float: none; margin-right: auto; margin-left: auto; }

.nopadding { padding: 0; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.row {
	@include rem(margin-left, -30px);
	@include rem(margin-right, -30px);
}

.container {
	@include rem(padding-left, 30px);
	@include rem(padding-right, 30px);
}

.visible-xxs {
  display: none;
}

.app {
  overflow: hidden;
}